<%- include('./includes/header') %>
    

<!-- header page -->
    <%- include('./includes/head') %>

    <div class="grid-portfolio" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/34.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                                    <h1>Giligans <em>SM San Mateo</em></h1>
                                    <p>YEAR 2019</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/34.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/35.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
									<h1>Giligans <em>SM San Mateo</em></h1>
                                    <p>YEAR 2019</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/35.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/36.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
									<h1>Bonchon <em>Sm San Mateo</em></h1>
                                    <p>YEAR 2019</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/36.jpg">
                            </div>
                        </div>
                    </div>
                </div>












                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/37.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
									<h1>Bonchon <em>Sm San Mateo</em></h1>
                                    <p>YEAR 2019</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/37.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/38.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
									<h1>Mang Inasal <em> <3 </em></h1>
										<p>Sta Lucia</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/38.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/39.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
									<h1>Conception Mc Donalds <em> <3 </em></h1>
										<p>Year 2019</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/39.jpg">
                            </div>
                        </div>
                    </div>
                </div>









                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/40.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                                    <h1>UKB <em> Quaipo </em></h1>
                                    <p>December 2019</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/40.jpg">
                            </div>
                        </div>
                    </div>
                </div>
				<div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/42.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
									<h1>UKB <em> Quaipo </em></h1>
                                    <p>December 2019</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/42.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/41.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                                    <h1>Mc Do <em> Date </em></h1>
                                    <p>YEAR 2019</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/41.jpg">
                            </div>
                        </div>
                    </div>
                </div>
    





                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/43.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                                    <h1>After Exercise <em> UKB </em></h1>
                                    <p>YEAR 2019</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/43.jpg">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/44.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
									<h1>After Exercise <em> UKB </em></h1>
                                    <p>YEAR 2019</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/44.jpg">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/45.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                                    <h1>Movie <em>Date <3 </em></h1>
                                        <p>YEAR 2019</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/45.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            


            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/46.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                                    <h1>Quaipo <em></em></h1>
                                    <p>YEAR 2019</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/46.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/47.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
									<h1>Quaipo <em></em></h1>
                                    <p>YEAR 2019</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/47.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/48.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
		                            <h1> December <em>Gift</em></h1>
                                    <p>YEAR 2019</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/48.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/49.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                                    <h1> Mirror Shot <em> Quaipo </em></h1>
                                    <p>YEAR 2019</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/49.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/50.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
									<h1> Mirror Shot <em> Quaipo </em></h1>
                                    <p>YEAR 2019</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/50.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/51.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
									<h1> Mirror Shot <em> Quaipo </em></h1>
                                    <p>YEAR 2019</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/51.jpg">
                            </div>
                        </div>
                    </div>
                </div>



            </div>



        </div>
    </div>


    <footer>
        <div class="container-fluid">
            <div class="col-md-12">
                <p>Copyright &copy; 2021 RougeNiel16</p>
            </div>
        </div>
    </footer>


      <!-- Modal button -->
    <div class="popup-icon">
      <button id="modBtn" class="modal-btn"><img src="img/contact-icon.png" alt=""></button>
    </div>  

    <!-- Modal -->
    <div id="modal" class="modal">
      <!-- Modal Content -->
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h3 class="header-title">Message  <em>RougeNiel16</em></h3>
            <div class="close-btn"><img src="img/close_contact.png" alt=""></div>    
          </div>
        <!-- Modal Body -->
        <div class="modal-body">
          <div class="col-md-6 col-md-offset-3">
            <form id="contact" action="" method="post">
                <div class="row">
                    <div class="col-md-12">
                      <fieldset>
                        <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required="">
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <button type="submit" id="form-submit" class="btn">Send Message Now</button>
                      </fieldset>
                    </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    
    <%- include('./includes/links') %>

	<%- include('./includes/footer') %>