<%- include('./includes/header') %>
    

<!-- header page -->
    <%- include('./includes/head') %>

    <div class="grid-portfolio" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/58.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                                    <h1> <em>SM San Mateo</em></h1>
                                    <p>YEAR 2020</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/58.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/53.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
									<h1>Infinitea <em>SM San Mateo</em></h1>
                                    <p>YEAR 2020</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/53.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/54.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
									<h1>Infinitea <em>SM San Mateo</em></h1>
                                    <p>YEAR 2020</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/54.jpg">
                            </div>
                        </div>
                    </div>
                </div>












                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/55.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
									<h1>Infinitea <em>SM San Mateo</em></h1>
                                    <p>YEAR 2020</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/55.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/56.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
									<h1>Infinitea <em>SM San Mateo</em></h1>
                                    <p>YEAR 2020</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/56.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/57.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
									<h1>Infinitea with Jollibee <em>SM San Mateo</em></h1>
                                    <p>YEAR 2020</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/57.jpg">
                            </div>
                        </div>
                    </div>
                </div>





                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/58.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
									<h1> <em>SM San Mateo</em></h1>
                                    <p>YEAR 2020</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/58.jpg">
                            </div>
                        </div>
                    </div>
                </div>










				<div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/59.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
									<h1>SM San Mateo  <em> Watson </em></h1>
                                    <p>December 2020</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/59.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/60.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                    				<h1> <em>SM San Mateo</em></h1>
                                    <p>YEAR 2020</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/60.jpg">
                            </div>
                        </div>
                    </div>
                </div>
    





                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/61.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                                    <h1>Giligans <em> Sm San Mateo </em></h1>
                                    <p>YEAR 2020</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/61.jpg">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/62.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
									<h1>Giligans <em> Sm San Mateo </em></h1>
                                    <p>YEAR 2020</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/62.jpg">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/63.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
									<h1>Giligans <em> Sm San Mateo </em></h1>
                                    <p>YEAR 2020</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/63.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            


            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/64.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                                    <h1>Jollibee <em></em></h1>
                                    <p>YEAR 2020</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/64.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/65.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
									<h1>Jollibee <em></em></h1>
                                    <p>YEAR 2020</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/65.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/66.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
									<h1>Jollibee <em></em></h1>
                                    <p>YEAR 2020</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/66.jpg">
                            </div>
                        </div>
                    </div>
                </div>





				
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/67.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                                    <h1> Infinitea <em> Marikina </em></h1>
                                    <p>YEAR 2021</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/67.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/68.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
									<h1> Infinitea <em> Marikina </em></h1>
                                    <p>YEAR 2021</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/68.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/69.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
									<h1> Infinitea <em> Marikina </em></h1>
                                    <p>YEAR 2021</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/69.jpg">
                            </div>
                        </div>
                    </div>
                </div>




				<div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/70.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
									<h1> KFC <em> Marikina </em></h1>
                                    <p>YEAR 2021</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/70.jpg">
                            </div>
                        </div>
                    </div>
                </div>



				<div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/71.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
									<h1> Infinitea <em> Marikina </em></h1>
                                    <p>YEAR 2021</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/71.jpg">
                            </div>
                        </div>
                    </div>
                </div>


				<div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/72.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
									<h1> KFC <em> Marikina </em></h1>
                                    <p>YEAR 2021</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/72.jpg">
                            </div>
                        </div>
                    </div>
                </div>



				<div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/73.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
									<h1> Marikina <em> Beach :P </em></h1>
                                    <p>YEAR 2021</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/73.jpg">
                            </div>
                        </div>
                    </div>
                </div>



				<div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/74.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
									<h1> Infinitea <em> Marikina </em></h1>
                                    <p>YEAR 2021</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/74.jpg">
                            </div>
                        </div>
                    </div>
                </div>


				<div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/75.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
									<h1> Infinitea <em> Marikina </em></h1>
                                    <p>YEAR 2021</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/75.jpg">
                            </div>
                        </div>
                    </div>
                </div>


				<div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/76.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
									<h1> Marikina <em> Beach :P </em></h1>
                                    <p>YEAR 2021</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/76.jpg">
                            </div>
                        </div>
                    </div>
                </div>

				<div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/77.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
									<h1> Marikina <em> Beach :P </em></h1>
                                    <p>YEAR 2021</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/77.jpg">
                            </div>
                        </div>
                    </div>
                </div>

				<div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/78.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
									<h1> KFC <em> Marikina </em></h1>
                                    <p>YEAR 2021</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/78.jpg">
                            </div>
                        </div>
                    </div>
                </div>

            </div>



        </div>
    </div>


    <footer>
        <div class="container-fluid">
            <div class="col-md-12">
                <p>Copyright &copy; 2021 RougeNiel16</p>
            </div>
        </div>
    </footer>


      <!-- Modal button -->
    <div class="popup-icon">
      <button id="modBtn" class="modal-btn"><img src="img/contact-icon.png" alt=""></button>
    </div>  

    <!-- Modal -->
    <div id="modal" class="modal">
      <!-- Modal Content -->
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h3 class="header-title">Message  <em>RougeNiel16</em></h3>
            <div class="close-btn"><img src="img/close_contact.png" alt=""></div>    
          </div>
        <!-- Modal Body -->
        <div class="modal-body">
          <div class="col-md-6 col-md-offset-3">
            <form id="contact" action="" method="post">
                <div class="row">
                    <div class="col-md-12">
                      <fieldset>
                        <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required="">
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <button type="submit" id="form-submit" class="btn">Send Message Now</button>
                      </fieldset>
                    </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    
    <%- include('./includes/links') %>

	<%- include('./includes/footer') %>