<%- include('./includes/header') %>
    

<!-- header page -->
    <%- include('./includes/head') %>

    <div class="grid-portfolio" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/12.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                                    <h1>First <em>Anniversary</em></h1>
                                    <p>YEAR 2018</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/12.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/13.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
									<h1>First <em>Anniversary</em></h1>
                                    <p>YEAR 2018</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/13.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/14.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
									<h1>First <em>Anniversary</em></h1>
                                    <p>YEAR 2018</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/14.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/15.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                                    <h1>HDMI <em> <3 </em></h1>
                                    <p>Informatics</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/15.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/16.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
									<h1>HDMI <em> <3 </em></h1>
										<p>Informatics</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/16.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/17.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
									<h1>HDMI <em> <3 </em></h1>
										<p>Informatics</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/17.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/18.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                                    <h1>Tambays <em> :D </em></h1>
                                    <p>YEAR 2019</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/18.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/19.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                                    <h1>Tambays <em> :D </em></h1>
                                    <p>YEAR 2019</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/19.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/20.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                                    <h1>Tambays <em> :D </em></h1>
                                    <p>YEAR 2019</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/20.jpg">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/21.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                                    <h1>NEU AND <em>PLMAR <3 </em></h1>
                                    <p>YEAR 2019</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/21.jpg">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/22.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                                    <h1>NEU AND <em>PLMAR <3 </em></h1>
                                        <p>YEAR 2019</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/22.jpg">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/24.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                                    <h1>NEU AND <em>PLMAR <3 </em></h1>
                                        <p>YEAR 2019</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/24.jpg">
                            </div>
                        </div>
                    </div>
                </div>

            </div>



            
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/25.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                                    <h1>NEU AND <em>PLMAR</em></h1>
                                    <p>YEAR 2019</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/25.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/26.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                                    <h1>NEU AND <em>PLMAR</em></h1>
                                    <p>YEAR 2019</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/26.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/27.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
		                            <h1>NEU AND <em>PLMAR</em></h1>
                                    <p>YEAR 2019</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/27.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/28.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                                    <h1>NEU AND <em>PLMAR</em></h1>
                                    <p>YEAR 2019</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/28.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/29.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
									<h1>STA LUCIA <em> <3 </em></h1>
										<p>SONGER <3 </p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/29.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/30.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
									<h1>STA LUCIA <em> <3 </em></h1>
										<p>SONGER <3 </p>   
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/30.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/33.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                                    <h1>Couple  <em> Watch </em></h1>
                                    <p>YEAR 2019</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/33.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/32.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                                    <h1>School  <em> ID </em></h1>
                                    <p>YEAR 2019</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/32.jpg">
                            </div>
                        </div>
                    </div>
                </div>



            </div>



        </div>
    </div>


    <footer>
        <div class="container-fluid">
            <div class="col-md-12">
                <p>Copyright &copy; 2021 RougeNiel16</p>
            </div>
        </div>
    </footer>


      <!-- Modal button -->
    <div class="popup-icon">
      <button id="modBtn" class="modal-btn"><img src="img/contact-icon.png" alt=""></button>
    </div>  

    <!-- Modal -->
    <div id="modal" class="modal">
      <!-- Modal Content -->
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h3 class="header-title">Message  <em>RougeNiel16</em></h3>
            <div class="close-btn"><img src="img/close_contact.png" alt=""></div>    
          </div>
        <!-- Modal Body -->
        <div class="modal-body">
          <div class="col-md-6 col-md-offset-3">
            <form id="contact" action="" method="post">
                <div class="row">
                    <div class="col-md-12">
                      <fieldset>
                        <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required="">
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <button type="submit" id="form-submit" class="btn">Send Message Now</button>
                      </fieldset>
                    </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    
    <%- include('./includes/links') %>

	<%- include('./includes/footer') %>