
    <nav>
		<div class="logo">
			<a href="/">Rouge<em>Niel</em></a>
		</div>
		<div class="menu-icon">
		<span></span>
	  </div>
	</nav>
  
	<div id="video-container">
		<div class="video-overlay"></div>
		<div class="video-content">
			<div class="inner">
			  <h1>Welcome to <em>RougeNiel Site</em></h1>
			  <p>since 2017</p>
				<div class="scroll-icon">
					<a class="scrollTo" data-scrollTo="portfolio" href="#"><img src="img/scroll-icon.png" alt=""></a>
				</div>    
			</div>
		</div>
		
		<video autoplay="" loop="" muted>
		  <source src="/img/87.mp4" type="video/mp4" />
		</video>
	</div>