    <!--news-->
    <div class="content-top-top">
        <div class="container">
            <div class="content-top">
                <div class="col-md-4 content-left animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <h3>News</h3>
                    <label><i class="glyphicon glyphicon-menu-up"></i></label>
                </div>
                <div class="col-md-8 content-right animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour , or randomised words which don't look even slightly believable.There are many variations by injected humour. There are many variations of passages of Lorem Ipsum available.There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form by injected humour , or randomised words</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="news-bottom">
                <div class="news-bot">
                    <div class="col-md-6 news-bottom1 animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <a href="single.html">
                            <div class="content-item">
                                <div class="overlay"></div>
                                <div class=" news-bottom2">
                                    <ul class="grid-news">
                                        <li><span><i class="glyphicon glyphicon-calendar"> </i>08.09.2014</span><b>/</b></li>
                                        <li><span><i class="glyphicon glyphicon-comment"> </i>5 Comment</span><b>/</b></li>
                                        <li><span><i class="glyphicon glyphicon-share"> </i>Share</span></li>
                                    </ul>
                                    <p>There are many variations of passages of Lorem Ipsum available</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 news-bottom1 animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <a href="single.html">
                            <div class="content-item content-item1">
                                <div class="overlay"></div>
                                <div class=" news-bottom2">
                                    <ul class="grid-news">
                                            <li><span><i class="glyphicon glyphicon-calendar"> </i>08.09.2014</span><b>/</b></li>
                                            <li><span><i class="glyphicon glyphicon-comment"> </i>5 Comment</span><b>/</b></li>
                                            <li><span><i class="glyphicon glyphicon-share"> </i>Share</span></li>
                                        </ul>
                                    <p>There are many variations of passages of Lorem Ipsum available</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="news-bot">
                    <div class="col-md-6 news-bottom1">
                        <a href="single.html">
                            <div class="content-item content-item2 animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
                                <div class="overlay"></div>
                                <div class=" news-bottom2">
                                    <ul class="grid-news">
                                            <li><span><i class="glyphicon glyphicon-calendar"> </i>08.09.2014</span><b>/</b></li>
                                            <li><span><i class="glyphicon glyphicon-comment"> </i>5 Comment</span><b>/</b></li>
                                            <li><span><i class="glyphicon glyphicon-share"> </i>Share</span></li>
                                        </ul>
                                    <p>There are many variations of passages of Lorem Ipsum available</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 news-bottom1 animated wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <a href="single.html">
                            <div class="content-item content-item3">
                                <div class="overlay"></div>
                                <div class=" news-bottom2">
                                    <ul class="grid-news">
                                            <li><span><i class="glyphicon glyphicon-calendar"> </i>08.09.2014</span><b>/</b></li>
                                            <li><span><i class="glyphicon glyphicon-comment"> </i>5 Comment</span><b>/</b></li>
                                            <li><span><i class="glyphicon glyphicon-share"> </i>Share</span></li>
                                        </ul>
                                    <p>There are many variations of passages of Lorem Ipsum available</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            
            </div>
        </div>
    </div>
<!--//news-->