    <!--services-->
    <div class="services">
        <div class="container">
            <div class="services-top">		
                <div class="col-md-8 services-right animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour , or randomised words which don't look even slightly believable.There are many variations by injected humour. There are many variations of passages of Lorem Ipsum available.There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form by injected humour , or randomised words</p>
                </div>
                <div class="col-md-4 services-left animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <h3>Services</h3>
                    <label><i class="glyphicon glyphicon-menu-up"></i></label>
                    <span>There are many variations</span>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="service-top">
                <div class="col-md-5 service-top animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <div class=" service-grid">
                        <div class="col-md-6 service-grid1">
                            <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
                                <a href="#" class="hi-icon hi-icon-mobile glyphicon glyphicon-leaf"></a>
                            </div>
                        </div>
                        <div class="col-md-6 service-grid1">
                            <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
                                <a href="#" class="hi-icon hi-icon-mobile glyphicon glyphicon-star-empty"></a>
                            </div>					
                            </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class=" service-grid">
                        <div class="col-md-6 service-grid1">
                            <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
                                <a href="#" class="hi-icon hi-icon-mobile glyphicon glyphicon-folder-open"></a>
                            </div>					
                            </div>
                        <div class="col-md-6 service-grid1">
                            <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
                                <a href="#" class="hi-icon hi-icon-mobile glyphicon glyphicon-home"></a>
                            </div>					
                            </div>
                        <div class="clearfix"> </div>
                    </div>
                    
                </div>
                <div class="col-md-7 service-bottom animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <div class=" service-bottom1">
                        <div class=" ser-bottom">
                            <img src="images/sa.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="ser-top "> 
                            <h5>Beautiful &amp; enjoyable designs</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class=" service-bottom1">
                        <div class=" ser-bottom">
                            <img src="images/sa1.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="ser-top "> 
                            <h5>Beautiful &amp; enjoyable designs</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class=" service-bottom1">
                        <div class=" ser-bottom">
                            <img src="images/sa2.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="ser-top "> 
                            <h5>Beautiful &amp; enjoyable designs</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>